<ion-header>
  <ion-toolbar>
      <ion-title>Hesap Bilgileri</ion-title>

      <ion-thumbnail slot="end" class="ion-margin-end">
        <ion-img src="../../assets/img/logo-icon.png"></ion-img>
      </ion-thumbnail> 
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="ion-padding" [formGroup]="formControl">
    
    <ion-list class="ion-padding"> 
    
    <div class="ion-text-center"><ion-icon size="large" name="person-circle"></ion-icon></div>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Adınız Soyadınız</ion-label>
      <ion-input formControlName="adisoyadi" [(ngModel)]="data.yoneticiAdSoyad"></ion-input>
      <div *ngIf="submitted && tb1.adisoyadi.errors" class="invalid-feedback">
        <div *ngIf="tb1.adisoyadi.errors.required">Lütfen boş bırakmayınız.</div>
      </div>
    </ion-item>
    
    <ion-item class="ion-no-padding">
      <ion-label position="floating">Şifre</ion-label>
      <ion-input type="password"  formControlName="sifre" [(ngModel)]="data.yoneticiSifre"></ion-input>
      <div *ngIf="submitted && tb1.sifre.errors" class="invalid-feedback">
        <div *ngIf="tb1.sifre.errors.required">Lütfen boş bırakmayınız.</div>
        <div *ngIf="tb1.sifre.errors.minlength">En az 4 karakter giriniz.</div>
      </div>
    </ion-item> 

      <ion-button expand="full" class="ion-margin-top ion-margin-bottom" (click)="Guncelle()">Kaydet</ion-button> 
      <ion-button expand="full" color="light" class="ion-margin-top ion-margin-bottom" [routerLink]="['/girisyap']"><ion-icon name="exit-outline"></ion-icon> Çıkış Yap</ion-button>
    </ion-list>
  </div>
</ion-content>
