<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>NO {{data.daireKapiNo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding" [formGroup]="formControl">
    

    <ion-list class="ion-padding"> 
   
      <div class="ion-text-center"><ion-icon size="large" name="business-outline"></ion-icon></div>
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Ad Soyad</ion-label>
          <ion-input type="text" formControlName="adisoyadi" [(ngModel)]="data.daireAdSoyad"></ion-input>
          <small>Dairede oturan kişinin adı ve soyadı.</small>
          <div *ngIf="submitted && tb1.adisoyadi.errors" class="invalid-feedback">
            <div *ngIf="tb1.adisoyadi.errors.required">Lütfen boş bırakmayınız.</div>
          </div>
      </ion-item> 
      <ion-button expand="full" class="ion-margin-top ion-margin-bottom" (click)="Kaydet()">Kaydet</ion-button>
  
    </ion-list>
  </div>

  <h5 class="ion-margin ion-no-padding">Aidat Kayıtları</h5>
  <ion-list lines="none" class="media-box">    
    <ion-item-sliding *ngFor="let item of liste" detail="false" mode='md' >
      <ion-item>
        <ion-icon name="cash-outline" *ngIf="item.aidatDurum == 'Ödenmiş'" color="primary"  slot="start"></ion-icon>
        <ion-icon name="cash-outline" *ngIf="item.aidatDurum == 'Ödenmemiş'" color="danger" slot="start"></ion-icon>
        <ion-label>
          {{item.aidatOdemeTarihi | date: 'dd.MM.yyyy'}}
        </ion-label>
        <div side="end" style="border-left: solid 1px #ddd; padding-left:10px; text-align: right;">
          <ion-label *ngIf="item.aidatDurum == 'Ödenmiş'" color="primary" style="font-size:14px;font-weight: 600;">{{item.aidatOdenenTutar}} TL</ion-label>
          <ion-label *ngIf="item.aidatDurum == 'Ödenmemiş'" color="danger" style="font-size:14px;font-weight: 600;">-{{item.aidatOdenecekTutar}} TL</ion-label>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>  

</ion-content>
