<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{apartmanBaslik}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="70" pullMax="150" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content style="margin: 10px 0px;"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  
<ion-list lines="none" class="media-box">    
  <ion-item-sliding *ngFor="let item of liste" detail="false" mode='md' >
    <ion-item [routerLink]="['/daireler-detay', {id: item.daireID,apartmanid: item.apartmanID}]">
      <ion-badge color="primary" slot="start">NO {{item.daireKapiNo}}</ion-badge>
      <ion-label>
        {{item.daireAdSoyad ? item.daireAdSoyad  : 'Boş' }}
      </ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-list>


</ion-content>
