

<ion-router-outlet main>
<ion-content>
</ion-content>

 
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rapor">
      <ion-icon name="pie-chart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="apartmanlar">
      <ion-icon name="business-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="aidatlar">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="harcamalar">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="profil">
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-router-outlet>