<ion-header>
  <ion-toolbar>
      <ion-title>Apartmanlar</ion-title>

      <ion-thumbnail slot="end" class="ion-margin-end">
        <ion-img src="../../assets/img/logo-icon.png"></ion-img>
      </ion-thumbnail> 
  </ion-toolbar>
</ion-header>
<ion-content>
 


  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="70" pullMax="150" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content style="margin: 10px 0px;"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

<ion-list lines="none" class="media-box">    
  <ion-item-sliding *ngFor="let item of liste" detail="false" mode='md' >
    <ion-item [routerLink]="['daireler', {id: item.apartmanID}]">
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>
        {{item.apartmanBaslik}}
      </ion-label>
      <ion-badge color="primary" slot="end">{{item.daireAdet}} Daire</ion-badge>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="danger" (click)="silConfirm(item.apartmanID)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" [routerLink]="['/apartmanlar-yenikayit']">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
