<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>NO {{data.daireKapiNo}} {{data.daireAdSoyad ? '- '+data.daireAdSoyad : ''}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding" [formGroup]="formControl">
    
    <ion-list class="ion-padding"> 
    
      <div class="ion-text-center"><ion-icon size="large" name="cash-outline"></ion-icon></div>

    <ion-item class="ion-no-padding">
      <ion-label position="floating">Tarih</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" doneText="Tamam" cancelText="Vazgeç" formControlName="tarih" [(ngModel)]="data.aidatTahsilatTarihi" min="{{minDate}}" max="{{maxDate}}" ></ion-datetime>
      <div *ngIf="submitted && tb1.tarih.errors" class="invalid-feedback">
        <div *ngIf="tb1.tarih.errors.required">Lütfen boş bırakmayınız.</div>
      </div>
    </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label position="floating">Tutar</ion-label>
        <ion-input type="number" disabled formControlName="tutar" [(ngModel)]="data.aidatOdenenTutar" min="1" max="100000"></ion-input>
        <div *ngIf="submitted && tb1.tutar.errors" class="invalid-feedback">
          <div *ngIf="tb1.tutar.errors.required">Lütfen boş bırakmayınız.</div>
          <div *ngIf="tb1.tutar.errors.min">Lütfen en az 1 TL giriniz.</div>
          <div *ngIf="tb1.tutar.errors.max">En fazla 100.000 TL girebilirsiniz.</div>
        </div>
    </ion-item> 
  
      <ion-item class="ion-no-padding" hidden>
        <ion-label position="floating">Ödeme Durumu</ion-label>
        
      <ion-select [(ngModel)]="data.aidatDurum" formControlName="durum" placeholder="Seçiniz" okText="Tamam" cancelText="Vazgeç">
        <ion-select-option value="Ödenmiş">Ödenmiş</ion-select-option>
        <ion-select-option value="Ödenmemiş">Ödenmemiş</ion-select-option>
      </ion-select>

      </ion-item>

      <ion-button expand="full" class="ion-margin-top ion-margin-bottom" (click)="Kaydet()">Oluştur</ion-button>
    </ion-list>
  </div>
</ion-content>
